<footer role="contentinfo" id="site-footer">
	<nav role="navigation" class="menu bottom-menu">
		<ul class="menu-item">
		{% for link in site.data.footer %}
			<li><a href="{{ link.url | relative_url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		{% endfor %}
		</ul>
	</nav><!-- /.bottom-menu -->
	<p class="copyright">&#169; {{ site.time | date: '%Y' }} <a href="{{ '/' | relative_url }}">{{ site.title }}</a>.</p>
	<div class="vercount-stats">
		<span id="busuanzi_container_site_pv">總訪問量 <span id="vercount_value_site_pv">--</span> 次</span>
		<span class="sep">|</span>
		<span id="busuanzi_container_site_uv">訪客數 <span id="vercount_value_site_uv">--</span> 人</span>
	</div>
</footer>
