<footer role="contentinfo" id="site-footer">
	<nav role="navigation" class="menu bottom-menu">
		<ul class="menu-item">
		{% for link in site.data.footer %}
			<li><a href="{{ link.url | relative_url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		{% endfor %}
		</ul>
	</nav><!-- /.bottom-menu -->
	<p class="copyright">&#169; {{ site.time | date: '%Y' }} <a href="{{ '/' | relative_url }}">{{ site.title }}</a>. 
    <span id="busuanzi_container_site_pv">本站總訪問量 <span id="busuanzi_value_site_pv"></span> 次</span> | 
    <span id="busuanzi_container_site_uv">訪客數 <span id="busuanzi_value_site_uv"></span> 人</span>
  </p>
  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
</footer>
